
header {
  /*background-color:#000042;*/
  background: radial-gradient(100% 100% at 50% 40%, #0000 40%, rgb(55, 35, 109) 100%);
 
  padding: 1rem;
}


nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li a {
  color: #226eb2;
  text-decoration: none;
  font-size: 1.6rem;
}

nav ul li a:hover {
  color: #ffd700;
}
