@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  min-height: 100vh;
}

/*.background-div {
  position: absolute;
  inset: 0;
  z-index: -10;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 24px 5px; }
  
*/

/*
.App {
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  min-height: 100vh;
}*/

.home, .gallery, .services, .contact{
  background-color: transparent;
  
}

/* Add some transition effects to make the site more dynamic */

/*.home h1, .gallery h2, .services h2, .contact h2 {
  transition: color 0.3s ease;
}*/

.home h1:hover, .gallery h2:hover, .services h2:hover, .contact h2:hover {
  color: #e73c7e;
}

.services li {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.services li:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.contact button {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact button:hover {
  background-color: #e73c7e;
  transform: scale(1.05);
}